@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary-color: #1435c3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 2rem;
    text-rendering: optimizeSpeed;
}