@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary-color: #029066;
    --white:white;
    --black: black;
    --text-color: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: 'Roboto',sans-serif;
    text-rendering: optimizeSpeed;
}

button, input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

a[href]{
    text-decoration: none;
}

//

.breadcrumb{
    margin-bottom: 24px;
}
//custom arrow

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 30px;
    width: 36px;
    z-index: 1;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    &:hover, &:focus {
        outline: none;
        background: rgba(0,0,0,0.5);
        color: transparent;
    }
}

.slick-prev {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
}

.slick-next {
    right: -25px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
}


//grid system'

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-6{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.grid__column-9{
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333%;
}

//scroll bar

// scroll bar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

//custom swipper pagination


@media (min-width: 1024px){
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 100px;
        left: 0;
        width: 100%;
    }
}