.wrapper{
    width: 1216px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb-wrap{
    width: 100%;
}

.cart-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.cart-container{
    width: 100%;
    padding: 16px 0;
}


.cart-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-heading-item{
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
    width: 30%;
    text-align: left;
}

.cart-wrap,.cart-wrap-info,.cart-wrap-price{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.width{
    width: 50%;
    text-align: left;
}

.cart-item{
    display: flex;
    padding: 8px 0;
}

.cart-item + .cart-item{
    border-top: 1px solid #ccc;
}
.cart-item-info{
    display: flex;
}

.cart-item-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.cart-item-name{
    color: rgb(67, 70, 87);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    margin: 0;
    margin-left: 12px;
}

.cart-price,
.cart-quantity{
    width: 30%;
    text-align: left;
}

.cart-price-new{
    font-weight: bold;
    margin-bottom: 0;
}

.cart-price-old{
    text-decoration: line-through;
    color: rgb(130, 134, 158);
    font-size: 1.2rem;
    margin: 0;
}

.delete-icon{
    padding: 12px;
    display: none;
}
.cart-quantity-action{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
}

.action-icon{
    font-size: 1.2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 4px;
}

.cart-item-quantity{
    font-size: 1.4rem;
    margin: 0 8px;
    display: block;
}

.remove-item{
    font-size: 1.4rem;
    color: var(--primary-color)
}

.total-price{
    font-weight: bold;
    width: 30%;
    text-align: left;
}

.payment{
    height: 174px;
    margin: 0 0 15px 15px ;
}
.payment__estimate{
    display: flex;
    justify-content: space-between;
}

.payment__estimate + .payment__estimate{
    margin-top: 8px;
}

.payment__estimate span{
    font-size: 1.4rem;
}

.cart-btn{
    margin: 0 auto;
    margin-top: 12px;
}

.no-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    img{
        width: 186px;
        height: 186px;
        margin-top: 32px;
    }
}

.cart-title{
    color: rgb(136, 136, 136);
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 24px;
}

.buy-btn{
    margin-bottom: 32px;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4px;
    padding: 7px 13px;
}

.prevent{
    pointer-events: none;
    cursor: default;
}

@media(max-width: 576px){
    .cart-item{
        display: flex;
        flex-direction: column;
    }
    .cart-heading,
    .remove-item,.total-price{
        display: none;
    }

    .cart-wrap{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
    .cart-wrap-price{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .delete-icon{
        display: flex;
        align-items: center;
    }
    .payment{
        margin: 0;
        position: fixed;
        bottom: 60px;
        background-color: #fff;
    }
    .cart-container{
        margin-bottom: 230px;
    }
}