.wrapper{
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px 0px;
    min-height: 100px;
    padding: 8px 12px;
    max-height: 318px;
    overflow: hidden;
}