.wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;

    &:hover{
        cursor: pointer;
        background-color: rgb(245,245,245);
    }
    
}

.icon{
    color: #5b5b5b;
    font-size: 1.4rem;
}
.name{
    flex: 1;
    padding: 0 12px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    margin-bottom: 0;
    max-height: 40px;
    overflow-y: hidden;
}