.wrapper{
    & > div{
        padding: 0;
    }
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 32px 0;

    & button{
        font-size: 1.4rem;
    }
    & svg{
        font-size: 1.4rem;
    }
}

@media (max-width: 576px){
    .pagination{
        margin: 32px 0 64px 0;
    }
}