.wrapper{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.care-on-mobile{
    background-color: var(--primary-color);
    display: none;
}
.logo-mobile{
    padding: 16px 0 0 16px;
}
.care-on-pc{
    width: 1216px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 576px) {
    .wrapper{
        display: none;
    }
    .care-on-mobile{
        display: block;
    }
}