.wrapper{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.container{
    width: 1216px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 576px) {
    .wrapper{
        display: none;
    }
}