.wrapper{
    min-height: 500px;
    border-top: 2px solid var(--primary-color);
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.policy{
    width: 1232px;
    display: flex;
    margin-top: 24px;
}

.payment-title{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;
}

.payment-list{
    display: flex;
}

.payment-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .payment-name{
        color: var(--primary-color)
    }
}

.payment-item + .payment-item{
    margin-left: 16px;
}

.payment-name{
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

.contact{
    background-color: rgb(233, 237, 242);
    width: 100%;
}

.copyright-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 16px
}

.copyright-text{
    margin: 0;
    font-size: 1.2rem;
    padding-right: 16px;
}

.location-name{
    font-size: 1.4rem;
    font-weight: 600;
}

.location-address{
    font-size: 1.2rem;
}


.footer-mobile{
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 10;

    & span{
      opacity: 1;
    }
}

.custom-action-item{
    width: 20%;
}

@media (max-width: 576px){
    .wrapper{
        display: none;
    }
    .footer-mobile{
        display: flex;
    }
}

