.wrapper{
    --search-button-width: 38px;
    --search-button-height: 38px;

    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 0.5rem 1rem 0px;
    z-index: 100;
}

.inner{
    width: 1216px;
    height: 88px;
    display: flex;
    align-items: center;
}

.logo-full{
    width: 250px;
}

.search{
    width: 375px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgb(234, 234, 234);
    margin-left: 16px;
}

.search-input{
    flex: 1;
    background-color: rgb(245, 245, 245);
    height: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    cursor: auto;
}       

.search-btn{
    width: 36px;
    height:36px;
    border-radius: 6px;
    background-color: var(--primary-color);
    margin-right: 1px;
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

.search-result{
    width: 375px;
}


.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6px 0 16px;
    flex: 1;
}

.notification-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 384px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
}

.notification-title{
    font-size: 1.2rem;
    margin-top: 24px;
    color: rgb(132, 135, 136);
}

.cart-result{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 384px;
    max-height: 400px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px 0px;
    overflow: hidden auto;
    padding: 16px;
}

.cart-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.no-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img{
        width: 186px;
        height: 186px;
        margin-top: 32px;
    }
}

.cart-title{
    color: rgb(136, 136, 136);
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 24px;
}

.buy-btn{
    margin-bottom: 32px;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4px;
    padding: 7px 13px;
}

.caculate{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 16px;
    height: 96px;
    background-color: var(--white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.caculate-info{
    border-top: 1px dotted #ccc;
    display: flex;
    justify-content: space-between;
    padding: 2px 0;

}


.caculate-title{
    font-size: 1.4rem;
    color: #333;
}

.caculate-price{
    font-size: 1.8rem;
    font-weight: 500;
}


.cart-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-cart-btn{
    width: 100%;
}