.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 11px;
    transition: 0.25s;
    border-radius: 4px;
    cursor: pointer;
    font-family: sans-serif;
    
    &:hover{
        background-color: #f4f4f4;
    }
}

.action-icon{
    color: #000;
}
.action-title{
    display: none;
    color: #82869E;
    font-size: 1.3rem;
    font-weight: 500;
}

@media (max-width: 576px){
    .active .action-title{
        display: block;
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 500;
    }
    .active .action-icon{
        color: var(--primary-color);
    }
}