.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 11px;
    min-width: 90px;
    transition: 0.25s;
    border-radius: 4px;
    cursor: pointer;
    font-family: sans-serif;
    
    &:hover{
        background-color: #f4f4f4;
    }
}

.action-title{
    display: block;
    color: #82869E;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 6px;

}
